@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&family=Sen:wght@400;700&family=Yantramanav:wght@900&display=swap');

.productIdInfo__container {
  padding: 50px;
  width: 50%;
  /* width: 1300px; */
}

.productIdInfo__text {
  margin-bottom: 30px;
  box-sizing: border-box;
  color: #515151;
  font-family: sans-serif;
  /* font-weight: 100; */
  margin: 0;
  padding: 0;
}

.productIdInfo__footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

footer button {
  grid-column: 1/3;
}

.bx-cart {
  border: none;
  cursor: pointer;
}

.productIdInfo__buttom {
  background: #f85555;
  color: #fff;
  font-size: 1.1rem;
  margin-bottom: 50px;
  padding: 15px;
  width: 100%;
  border: none;
}

.productIdInfo__price-container {
  display: flex;
  flex-direction: column;
}

.productIdInfo__add {
  display: flex;
  margin-bottom: 20px;
  color: #515151;
  font-family: Yantramanav, sans-serif;
  width: 100%;
}

.productIdInfo__price-text {
  margin-bottom: 5px;
  font-family: Yantramanav, sans-serif;
  color: #c7c7c7;
}

.productIdInfo__prince-money {
  font-size: 1.3rem;
  font-weight: 600;
  margin-left: 10px;
  color: #515151;
}